{{ define "main" }}
<main>

{{ range (.Paginate (where .Site.RegularPages "Type" "posts" )).Pages  }}
<section class="list">
    <a class="list-title" href="{{ .Permalink }}">{{ .Title }} {{ if .Params.categories }}{{range .Params.categories}}(<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>){{end}}{{end}}</a><span class="list-date"> {{ .Date | time.Format "2 January 2006"}}</span>
    <p class="list-description">{{ .Params.description }}</p>
</section>
{{ end }}
{{ template "_internal/pagination.html" . }}
</main>
{{ end }}